body {
	background-color: rgb(230, 230, 230);
	color: rgb (50,50,50);
	font-family: "Helvetica";
    font-optical-sizing: auto;
    font-style: normal;
	font-size: 17px;
}
h1,h2,h3 {
	font-family: "Roboto", sans-serif;
  	font-weight: 400;
  	font-style: normal;
}
h1 {
	color: #eb81bf;
	font-family: Times New Roman;
	font-weight: 900;
	letter-spacing: 5px;
	font-size: 32px;
	text-transform: uppercase;
}
h2 {
	color:#eb2dbe;
	font-size: 20px; 
	font-weight: lighter;
	font-weight: 500;
	font-weight: bold;
}
a {
	font-family: 'Roboto',sans-serif;
	text-decoration: none;
	color: #eb81bf;
	font-weight: 600;
	font-weight: 16px;
	text-align: left;
}
a:hover{
	color: black;
} 
#logo { 
	width: 150px;
}
.title-bold { 
font-weight:bold; }
.container {
	width: 700px;
	margin: 40px auto;
}
.card-white {
	background-color: white;
	padding: 40px;
	box-shadow: Opx 10px 30px rgba(0,0,0,0.1) ; 
	border-radius: 4px; 
	margin: 20px 0px;
	text-align: center;
}
.img-circle {
	border-radius: 50%;
}
.btn-blue {
	background-color: #eb81bf; 
	color: white;
	padding: 15px 20px; 
	border-radius: 4px;
}
.btn-blue:hover{
	background-color: black;
	color: white;
}

.list-inline {
	list-style: none;
	padding-left: 0px;
}
.list-inline li {
	display: inline; 
	padding: 10px;
}
.list-inline i {
	font-size: 50px;
	color: rgb(230, 230, 230);
}
.list-inline i:hover { 
	color: black;
}
#introduction p {
	margin-bottom: 40px;
}
 .container {
 		width :700px;
 		margin: 40px auto;
 	}

 @media (max-width: 760px) {
 	.container {
 		width :600px;
 	}
 }
 @media (max-width: 500px) {
 	.container {
 		width :400px;
 	}
 }
 
